
.mobileMenu {
    z-index: 10;
    background-color: #212b36bb;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    position: fixed;
    top: 48px;
    right: 0;
    width: 30vw;
    max-width: 280px;

    transform: translateX(100%);
    pointer-events: none;
    visibility: hidden;
    transition: opacity .2s ease, transform .25s ease, visibility 0s linear .2s;
}

.open {
    transform: translateX(0);
    pointer-events: auto;
    visibility: visible;
    transition: opacity .2s ease, transform .2s ease, visibility 0s;
}

.navLink {
    padding: .5rem;
    border-radius: 5px;
    transition: background-color .2s ease;

    &:hover {
        background-color: rgba(68, 136, 238, 0.057);
    }
}