
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem;
    gap: 3rem;
}

.jobsHeader {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.jobsHeader h1 {
    font-size: 2.5rem;
}

.jobsHeader p {
    color: gray;
}

@media screen and (width < 500px) {
    .main {
        padding: 2rem 1rem;
    }

    .jobsHeader h1 {
        font-size: 1.5rem;
    }

    .jobsHeader p {
        font-size: .9rem;
    }
}