
.jobSection {
  background-color: #001620;
  position: relative;
}

.jobSection::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background: linear-gradient(
    to bottom,
    #001620 0%,
    #000f15 100%
  );
}


.jobSectionWrapper {
  padding: 8rem 6rem 15rem 6rem;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 80%;
}

.jobSectionVideo {
  width: 540px
}

.jobSectionDescription {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 40%;
}

.jobSectionDescription h4 {
  font-size: 2rem;
}

.jobSectionDescription p {
  font-size: 1.2rem;
}

@media screen and (width < 1000px) {
  .jobSectionWrapper {
    flex-direction: column;
    align-items: center;
    padding: 2rem 2rem 8rem;
  }

  .jobSectionDescription {
    width: 100%;
  }
}

@media screen and (width < 600px) {
  .jobSectionVideo {
    width: 400px;
  }

  .jobSectionDescription h4 {
    font-size: 1.2rem;
  }

  .jobSectionDescription p {
    font-size: 1rem;
  }
}


@media screen and (width < 500px) {
  /* Job Section */

  .jobSectionVideo {
    width: 300px;
  }

  .jobSectionDescription h4 {
    font-size: 1.2rem;
  }

  .jobSectionDescription p {
    font-size: 1rem;
  }
}
