.reviewsSection {
  background-color: #001620;
  padding: 8rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.reviewsSectionTitle{
  text-align: center;
  font-size: 2rem;
}

.reviewsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  place-content: center;
  width: 60%;
  margin: auto;
  align-items: stretch;
  gap: 2rem;
}


@media screen and (width < 1000px) {
  .reviewsContainer {
    grid-template-columns: 1fr;
    width: 70%;
  }
}

@media screen and (width < 600px) {
  .reviewsContainer {
    grid-template-columns: 1fr;
  }

  .reviewsSectionTitle {
    font-size: 2rem;
    width: fit-content;
    text-align: center;
  }
}