
.listItem {
    border: 2px solid #1e2733;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    border-bottom: none;
    min-height: 100px;
    
    &:first-child {
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }
    
    &:last-child {
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        border-bottom: 2px solid #1e2733;
    }
}

.jobContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.jobContainer p {
    color: #ccc;
    font-size: .9rem;
}

.jobHeader {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.jobHeader small {
    color: gray;
}

@media screen and (width < 500px) {
    .listItem {
        display: grid;
        border: 2px solid #1e2733;
        border-radius: .5rem;
        box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);
    }
}