

/* Formulario */

.form {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    place-self: center; /* este centra solo la celda hija */
    padding: 2rem;
    border-radius: .5rem;
    border: 1px solid #324d67;
    background-color: #192633;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 60%;
    box-shadow: 0px 8px 24px 0px rgba(2, 26, 58, 0.45);
    
    min-width: 315px;
    transition: box-shadow 0.3s ease;
}

.inputsContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.inputContact, .textAreaContact {
    border: 1px solid #324d67;
    border-radius: .5rem;
    background-color: #111a22;
    color: #fff;
    outline: none;
    padding: 1rem;

    box-shadow:
        0 0 0 0 rgba(1, 20, 44, 1),   
        0 0 0 0 rgba(17, 115, 212, 0); 

    transition: box-shadow .2s ease;


    &::placeholder {
        color: #829bb5;
    }
}

.inputContact:focus-visible, .textAreaContact:focus-visible {
    box-shadow:
        0 0 0 4px rgba(1, 20, 44, 1), 
        0 0 0 6px rgba(17, 115, 212, 1);
}

.textAreaContact {
    resize: none;
    height: 8rem;
}

.btnSubmit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
    background-color: var(--btn-bg-primary);
    cursor: pointer;
    padding: 1rem;
    border: none;
    border-radius: .5rem;
    box-shadow: 0px 2px 20px 2px rgba(26, 97, 203, 0.413);
    transition: filter .2s ease;

    &:hover {
        filter: brightness(1.1);
    }
}

.btnSubmit svg {
    width: 20px;
    fill: #fff;
}

.term {
    text-align: center;
}


@media screen and (width < 830px) {
    .form {
        grid-column: 1 / 2;
        grid-row: 2;
    }
}


@media screen and (width < 500px) {
    .form {
        padding: 1rem;
        min-width: 250px;
    }
}
