
.btn {
    height: 40px;
    padding: .5rem 1rem;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    border: none;
    background-color: #1173d4;
    border-radius: 0.5rem;
    transition: background-color .2s ease;

    &:hover:not(.btnApply) {
        background-color: #0b5fb3;
    }
}

.btnApply {
    background-color: green;
    opacity: .5;
}