.errorContainer {
    margin: auto;
    display: grid;
    place-items: center;
    gap: 1rem;
    text-align: center;
    padding-top: 15rem;

}

.title {
    font-size: 4rem;
}

.description {
    font-size: 1.5rem;
}

.button {
    background-color: #48e;
    color: #fff;
    padding: .5rem 1rem;
    width: fit-content;
    border: 1px solid rgb(68, 161, 238);
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    transition: filter .2s ease;
}

.button:hover {
    filter: brightness(1.1);
}

@media screen and (width < 700px) {
    .title {
        font-size: 2rem;
        padding: 10px;
    }

    .description {
        font-size: 1rem;
        padding: 10px;
    }
}