
.courseCard {
  background-color: #192633;
  border: 2px solid #212b36;
  border-radius: 20px;
  box-shadow: 
    0 1px 2px rgba(0, 0, 0, 0.08),
    0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 1rem 2rem;
  height: 100%;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, .5fr);
  width: 80%; 
  margin: auto;
  min-width: 400px;
  transition: filter .5s ease;
}

.courseCard:hover {
  filter: brightness(1.1);
}

.courseInfo {
  grid-column: 1 / 3;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.courseInfo p {
  color: gray;
}

.courseInfo small {
  color: #48e;
  font-weight: bold;
}

.courseHeader {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.courseHeader h3 {
  font-size: 1.4rem;
}

.coursePrice {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  font-weight: bold;
  color: green;
  font-size: 1.5rem;
  text-align: center;
}

@media screen and (width < 500px) {
  .courseCard {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: .5rem 1rem;
    min-width: 275px
  }

  .courseHeader h3 {
    font-size: 1rem;
  }

  .courseInfo p {
    font-size: .8rem;
  }

  .coursePrice {
    grid-row: 3;
    grid-column: 1 / 2;
    text-align: left;
    font-size: 1rem;
  }
}