* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  list-style-type: none;
  scroll-behavior: smooth;
  scroll-margin-top: 100px;
}

body {
  background-color: #01142c;
  color: #fff;
}

.app-layout {
  min-height: 100dvh;   
  display: flex;
  flex-direction: column;
}

.app-content {
  flex: 1;            
}

a {
  text-decoration: none;
  color: #fff;
}

.error {
  color: red;
}

.marked-span {
  font-weight: 600;
  color: orange;
}





