.coursesContainer {
  padding: 6rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.coursesContainer h2 {
  text-align: center;
  font-size: 3rem;
}

.coursesList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  align-items: stretch;
  place-content: center;
  width: 70%;
  margin: auto;
}


@media screen and (width < 1000px) {
  .coursesList {
    grid-template-columns: 1fr;
    gap: 4rem;
  }
}

@media screen and (width < 600px) {
  .coursesContainer h2 {
    font-size: 2rem;
  }
}