
.linksContainer  {
  display: flex;
  gap: 2rem;
}

.menuBtn {
  display: none;
}

.navLink {
  font-size: 1.2rem;
  transition: transform .3s;
}

.navLink:hover {
  transform: scale(0.9);
}

@media screen and (width < 600px) {
  .navLink {
    font-size: .8rem;
  }
}

@media screen and (width < 500px) {
  .linksContainer {
    display: none;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
  }
}