.logoContainer {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.logo {
  width: 62px;
  height: 62px;
  fill: #48e;
}

.logoContainer span {
  user-select: none;
  font-size: 1.5rem;
}

@media screen and (width < 600px) {
  .logo {
    width: 32px;
    height: 32px;
  }

  .logoContainer span {
    font-size: 1rem;
  }
}