.main {
    padding: 4rem 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 4rem;
    place-content: center;
}

.headerContact {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 560px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    grid-row: 1 / 4;
    margin: auto;
}

.headerTitles {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.headerTitles h1 {
    font-size: 3rem;
}

.headerTitles h2 {
    color: var(--btn-bg-primary);
    font-size: 2rem;
}

.svgContainer {
    padding: .8rem;
    border-radius: 1rem;
    background-color: #192633;
    border: 1px solid #324d67;
    display: flex;
}

.svgContainer svg {
    width: 25px;
    color: var(--btn-bg-primary);
}

.contactsContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.contact {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.icons {
    display: flex;
    gap: 1rem;
}

.iconContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.svgIconContainer  {
    background-color: #192633;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    cursor: pointer;
    transition: filter .2s ease;

    &:hover {
        filter: brightness(1.1);
    }
}

.svgIconContainer svg  {
    width: 30px;
}


@media screen and (width < 830px) {

    .main {
        padding: 3rem;
        grid-template-columns: 80dvw;
        grid-template-rows: 1fr 1fr;
    }

    .wrapper {
        grid-row: 1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: 1fr;
        gap: 3rem;
    }

    .headerContact {
        grid-column: 1 / 3;
    }

    .icons {
        flex-direction: column;
    }
}

@media screen and (width < 500px) {
    .main{
        padding: 1.5rem;
    }

    .headerTitles h1 {
        font-size: 2rem;
    }

    .headerTitles h2 {
        font-size: 1.5rem;
    }

    .headerContact p {
        font-size: .9rem;
    }
}

@media screen and (width < 350px) {
    .wrapper {
        gap: 1.5rem;
    }

    .headerTitles h1 {
        font-size: 1.8rem;
    }

    .headerTitles h2 {
        font-size: 1.3rem;
    }

    .headerContact p {
        font-size: .8rem;
    }

    .contactsContainer {
        gap: 0;
        justify-content: space-around;
    }

    .contactInfo h3 {
        font-size: .8rem;
    }

    .contactInfo p {
        font-size: .8rem;
    }
}